body {    
    background: white;
}
#navtab {
    padding: 15px;
    margin-left: 15%;
    margin-right: 15%;
    border-bottom: 1px solid black;
    background-color: white;
}
#navtab a{
    font-size: 15px;
    padding: 30px;
    padding-top: 30px;
    color: #424242;
    font-family: 'Raleway', sans-serif;
}
#navtab a:hover {
    font-size: 15px;
    padding: 20px;
    padding-top: 30px;
    color: #F57C00;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
#sidebar {
    padding: 30px;
    background: #FFF3E0;
}
#sidebar-icons a{
    font-size: 40px;
    text-align: right;
    color: #F57C00;
}
#sidebar-text {
    font-size: 18px;
    color: black;
}
#maincontainer {
    padding-top: 40px;
    font-family: 'Raleway', sans-serif;
}
#restaurants {
    margin-left: 15%;
    margin-right: 15%;
    background-color: #ffffff;
    font-family: 'Raleway', sans-serif;
    text-align: left;
}
#restaurants h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}
#restcard {
    padding: 15px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px solid white;
}
#restcard:hover {
    border: 2px solid grey;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 grey
}
#restaurant-image {
    align-content: center;
}
#restcards h5 {
    padding: 5px;
    font-weight: bold;
}
#rating {
    margin-left: 15px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #558B2F;
    border: 2px solid #558B2F;
    border-radius: 5px;
    font-family: 'K2D', sans-serif;
    color: white;
}
#delivery-time {
    padding-right: 15px;
}
#footer {
    color: grey;
    background: black;
    padding-top: 20px;
    text-align: center;
}
#footer span{
    color: grey;
    font-size: 15px;
    padding-bottom: 40px
}
#footer span:hover{
    color: white;
    font-size: 20px;
}
#footer a {
    color: grey;
    font-size: 15px;
    padding: 20px;
    padding: bottom 40px;
}
#footer a:hover {
    color: white;
    font-size: 15px;
}